<div class="container" style="text-align: center">
 <h1>New Genre</h1>
</div>

<%= render 'form', genre: @genre %>

<div class="container" style="text-align: center">
<%= link_to 'Back', genres_path, class: 'btn btn-info' %>
</div>