<div class="container" style="text-align: center">
 <h1>New Artist</h1>
</div>

<%= render 'form', artist: @artist %>

<div class="container" style="text-align: center">
<%= link_to 'Back', artists_path, class: 'btn btn-info' %>
</div>