<div class="container" style="text-align: center">
 <h1>New Song</h1>
</div>

<%= render 'form', song: @song %>

<div class="container" style="text-align: center">
<%= link_to 'Back', songs_path, class: 'btn btn-info form-control' %>
</div>